* {
 margin: 0;
 padding: 0;
    }

body {
background:url(images/bg.jpg) no-repeat top center #97cae4;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #3b5564;
position:relative;
}


p{
margin:0px;
padding:0 0 5px 0;
line-height:17px;
text-align:justify;
}
p.pat{
color:#FFFFFF;
}
h1{
color:#fff;
font-size:16px;
font-weight:bold;
margin:0px;
padding:5px 0 5px 0;
}
h2{
color:#759f1b;
font-size:16px;
float:left;
font-weight:bold;
margin:0px;
padding:5px 0 0 0;
}
h3{
color:#116c64;
font-size:16px;
float:center;
font-weight:bold;
margin:0px;
padding:5px 0 0 0;
}
span.blue{
color:#a5dcf8;
}
span.dark_blue{
color:#116c64;
}
#main_container{
width:900px;
height:auto;
margin:auto;
background-color:#fff;
}
.header{
width:900px;
height:114px;
margin:auto;
background:url(images/header_bg.gif) repeat-x;
}
.right_header{
float:right;
width:550px;
}
#logo{
padding:30px 0 0 20px;
float:left;
}
/*----------------------menu-------------------------*/
#menu{
width:500px;
height:35px;
float:right;
padding:40px 0 0 0;
}
#menu ul{
list-style:none;padding:0px;margin:0px;display:block; font-weight:bold;
}
#menu ul li{
list-style:none;display:inline;float:left;width:96px;height:35px;padding:0px;line-height:35px;font-size:13px;margin:0 3px 0 3px;
}
#menu ul li a{
height:35px; width:96px;float:left;text-decoration:none;padding:0px;margin:0px;color:#6c7b83;text-align:center; background:url(images/menu_bt.gif) no-repeat center;
}
#menu ul li a:hover{
height:35px;width:96px;text-decoration:none;color: #68C2EF;
}
#menu ul li a.current{
height:35px;width:96px;float:left;text-decoration:none;padding:0px;margin:0px;color: #68C2EF;background:url(images/menu_bt.gif) no-repeat center;
}

#middle_box{
width:900px;
height:208px;
clear:both;
margin:auto;
background:url(images/) no-repeat center;
}
.middle_box_content{
padding:30px 0 0 20px;
}
.top_menu{
width:285px;
float:right;
}
a.login, a.sign_up, a.logout {
width:49px;
height:35px;
display:block;
line-height:35px;
color:#a6c4d4;
font-size:10px;
font-weight:bold;
text-decoration:none;
padding:0 0 0 40px;
float:left;
margin:0 3px 0 3px;
}
a.login {
background:url(images/login.gif) no-repeat center;
}
a.sign_up {
background:url(images/sign_up.gif) no-repeat center;
}
a.logout {
/*visibility: hidden;*/
background:url(images/logout.gif) no-repeat center;
}
.pattern_bg{
width:900px;
height:162px;
clear:both;
margin:auto;
background:url(images/pattern_bg.gif) no-repeat center;
}
.pattern_box{
width:400px;
float:left;
padding:15px 0 0 25px;
}
.pattern_box_icon{
float:left;
padding:5px;
}
.pattern_content{
width:300px;
float:left;
padding:0 0 0 0px;
}
/*---------------------main_content------------------*/
#main_content1,#main_content2{
width:885px;
margin: auto;
}
#main_content1{
height: 52%;
padding:50 0 0 15px;
}
#main_content2{
height: 80%;
padding:0 0 0 15px;
}
.clear{
clear:both;
}
.box_content{
width:267px;
height:auto;
float:left;
margin:10px 10px 30px 10px;
background:url(images/box_bg.gif) no-repeat top center;
}
.box_title{
padding:10px 0 10px 0;
}
.title_icon{
float:left;
padding:0 5px 0 10px;
}
.box_text_content{
width:250px;
float:left;
padding:15px 0 0 15px;
}
.box_icon{
float:left;
padding:0 5px 0 0 ;
}
.box_text{
width:190px;
float:left;
text-align:justify;
padding:0 0 0 10px;
}
a.details{
float:right;
padding:5px 15px 0 0;
text-decoration:none;
font-weight:bold;
color:#f8851f;
}

.judul{
	padding: 10 0 0 0px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: black;
}
/*-----------------------------footer------------------*/
#footer{
width:900px;
height:45px;
color:#508aa1;
background-color:#e8eff2;
position:absolute; 
bottom:0;
}
.copyright{
float:left;
padding:10px 0 0 10px;
}
.center_footer{
color: #314048;
font-size:12px;
font-weight:bold;
width:550px;
padding:15px;
text-align:center !important;
float:left;
}

/*coba */
.container {
      width: 100%;
      margin: auto;
      padding: 0;
    }
    .slide {
       width: 100%;
       height: 55%;
    }
    .number {
      margin-bottom: -40px;
      position: absolute;
      margin: 16px 16px;
      font-family: arial;
      font-size: 20px;
      color: #fff;
    }
    .caption {
      font-family: arial;
      font-size: 20px;
      color: #fff;
      text-align: center;
      margin-top: -40px;
    }
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
      from {opacity: .4;}
      to {opacity: 1}
    }
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }


	#popup, #popup2, #popup3 {
		visibility: hidden;
		opacity: 0;
		margin-top: -200px;
	}
	#popup:target, #popup2:target, #popup3:target {
		visibility:visible;
		opacity: 1;
		background-color: rgba(0,0,0,0.8);
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:0;
		z-index: 99999999999;
		-webkit-transition:all 1s;
		-moz-transition:all 1s;
		transition:all 1s;
	}

	@media (min-width: 768px){
		.popup-container {
			width:600px;
		}
	}
	@media (max-width: 767px){
		.popup-container {
			width:100%;
		}
	}
	.popup-container {
		position: relative;
		margin:7% auto;
		padding:30px 50px;
		background-color: #fafafa;
		color:#333;
		border-radius: 3px;
	}

	a.popup-close {
		position: absolute;
		top:3px;
		right:3px;
		background-color: #333;
		padding:7px 10px;
		font-size: 20px;
		text-decoration: none;
		line-height: 1;
		color:#fff;
	}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50 !important;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.containerikan {
  padding: 16px;
}

.container1 {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe !important;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


.tulisan {
	padding: 20 0;
	background:url(images/bg.jpg) no-repeat top center; 
	font-size: 20pt;
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 0 10px rgba(0,0,0,0.6);
	text-align: center;
}
.cara {
	padding: 0;
	font-size: 20pt;
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 0 10px rgba(0,0,0,0.6);
	text-align: center;
}

.jelas{
  font-size: 20pt;
  text-align: center !important;
  color: white;
  padding: 20;
  background:url(images/bg.jpg) no-repeat top center #97cae4;
}
.jelas1{
  font-size: 15pt;
  text-align: center !important;
  color: white;




